<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<title>{{ site_name }} | {% block title %}{% endblock %}</title>
		{% endblock %}

		<!-- begin CSS includes -->
		{% block css_includes %}
		<link href="{{ base_url }}/css/style.css" type="text/css" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		{% endblock %}
		<!-- end CSS includes -->

		<!-- begin script includes -->
		{% block js_includes %}
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		{% endblock %}
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div class="nav">
					<div class="nav_button">
						<a href="{{ base_url }}/photos/">Browse</a>
					</div>
					<div class="nav_button">
						<a href="{{ base_url }}/import/">Import</a>
					</div>
					<div class="nav_button">
						<a href="{{ base_url }}/marked/">Marked</a>
					</div>
					<div class="nav_button">
						<a href="{{ base_url }}/stats/">Stats</a>
					</div>
				</div><!-- end class.nav -->
				<h1>{% block page_header %}{{ site_name }}{% endblock %}</h1>
			</div><!-- end div.header -->
			<div id="main_container">
			{% if message %}
				<div id="message">{{ message }}</div><!-- end div#message -->
				<script type="text/javascript">
				$(document).ready(function() {
					$("#message").show("blind", {}, 500, function() {
						setTimeout(function() {
							$("#message").hide("blind", {}, 500)
						}, 3000);
					});
				});
				</script>
			{% endif %}
			{% block pagebody %}{% endblock %}
			</div><!-- end div#main_container -->
			<div id="footer">
				Footer information
			</div><!-- end div.footer -->
		</div><!-- end div.wrapper -->
	</body>
</html>
