{% extends "photos/base.html" %}

{% block css_includes %}
{{ super() }}
<link href="{{ base_url }}/css/lightbox.css" rel="stylesheet" />
{% endblock %}

{% block js_includes %}
{{ super() }}
<script src="{{ base_url }}/js/lightbox-2.6.min.js"></script>
<script src="{{ base_url }}/js/site.js"></script>
{% endblock %}

{% block title %}
{{ super() }}
{% endblock %}

{% block photo_content %}
	{% if photos %}
		{% for f in photos %}
			<div class="file{% if f.marked %} marked{% endif %}" id="container_{{ f.id }}">
				<div class="icon">
					<img src="{{ thumbnail_url }}/{{ f.thumb_url }}" />
				</div><!-- end div.thumb -->
				<div class="labels">
					<div class="label">{{ f.filename }}</div><!-- end div.label -->
					<div class="operations">
						<a href="{{ base_url }}/photos/big/{{ f.id }}"
							data-lightbox="pageset"
							class="magnify"
							id="magnify_{{ f.id }}">magnify</a> | 
						<a href="#" class="mark" id="mark_{{ f.id }}">
							{% if f.marked %}un{% endif %}mark
						</a>
					</div><!-- end div.operations -->
				</div><!-- end div.labels -->
			</div><!-- end div.file -->
		{% endfor %}
		<script type="text/javascript">
			registerMarkAction($("#selection_form"), "a.mark", "{{ base_url }}/mark/");
		</script>
	{% endif %}
{% endblock %}
