{% extends "photos/base.html" %}

{% block css_includes %}
{{ super() }}
<link href="{{ base_url }}/css/lightbox.css" rel="stylesheet" />
{% endblock %}

{% block js_includes %}
{{ super() }}
<script src="{{ base_url }}/js/lightbox-2.6.min.js"></script>
<script src="{{ base_url }}/js/site.js"></script>
{% endblock %}

{% block title %}
{{ super() }}
{% endblock %}

{% block photo_content %}
	{% if photos %}
		{% for photos in photos %}
			{{ partials.photo_card(photos) }}
		{% endfor %}
		<script type="text/javascript">
			registerMarkAction($("#file_container"), "a.mark", "{{ base_url }}/photos/");
		</script>
	{% endif %}
{% endblock %}
